# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
build
*.local

# vite
.vite

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# audio assets (copyrighted, kept local)
public/audio/*.mp3
public/audio/*.wav
public/audio/*.ogg

# env
.env
.env.local
.env.*.local
